gradebook/src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.deps.json
gradebook/src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.dll
gradebook/src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.exe
gradebook/src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.pdb
gradebook/src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.runtimeconfig.dev.json
gradebook/src/GradeBook/bin/Debug/netcoreapp3.0/GradeBook.runtimeconfig.json
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.assets.cache
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.csproj.FileListAbsolute.txt
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.dll
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.exe
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.pdb
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.assets.cache
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.csprojAssemblyReference.cache
