.gitignore
gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.cache
gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.dgspec.json
gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.g.props
gradebook/src/GradeBook/obj/GradeBook.csproj.nuget.g.targets
gradebook/src/GradeBook/obj/project.assets.json
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.AssemblyInfo.cs
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.AssemblyInfoInputs.cache
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.assets.cache
gradebook/src/GradeBook/obj/Debug/netcoreapp3.0/GradeBook.csprojAssemblyReference.cache
